.introduction {
    padding: 10.625rem 0;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;

    &-heading{
        font-size: $text-xl;
        font-weight: $text-extra-bold;
        color: $secondary-color;
        letter-spacing: 5px;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 60px;
    }
    &-desc{
        font-size: $text-md;
        color: $secondary-color;
        line-height: 1.75;
        max-width: 670px;
    }
}

@include breakpoint-down(small) {
    .introduction-heading{
        font-size: $text-md-35;
        margin-bottom: 30px;
    }
}
@include breakpoint-down(tiny-mobile) {
    .introduction-heading{
        font-size: 35px;
    }
}